body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

input {
  width: 70%;
  padding: 5px;
}

button {
  padding: 6px 10px;
}

li {
  list-style: none;
  margin-top: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
